 /*核心内容*/
 h1 {
    z-index:999;
    height: 80px;
    text-align: center;
    position: sticky;
    background-color: rgba(1, 183, 255, 0.473);
    top: 0;
}
main {
    scroll-snap-type: y mandatory;
    scroll-padding: 80px;
    overflow: scroll;
    height: 100vh;
}
section {
    width: 100vw;
    height: 100vh;
    font-size:x-large;
    text-align:center;
    scroll-snap-align: start;
    
}
.glass {
    backdrop-filter: blur(4px);
    border-radius: 12px;
}
button {
    width:auto;
    height:auto;
    background-color:pink;
    backdrop-filter: blur(4px);
    border-radius: 12px;
}      
option {
    width:100vd;
    height:50vh;
    background-color: black;
    font-size:small;
    color:white;
}
deepdarkf {
    height: 40px;
    font-size: medium;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left:0px;
    background-color:pink;
    text-align:center;
    z-index: 999;
}
.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
    color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
    color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
    color: #BA0000 !important;
}


.topclick {
    height: 50px;
    width: 100px;
    position:relative;
    display:inline-block;
    font-size:medium;
}
 
.ltbox1 {
    width: 100px;
    height: 50px;
    backdrop-filter: blur(4px);
    border-radius: 12px;
    background-color: pink;
    text-align: center;
    line-height: 50px;
    cursor: pointer;        /*鼠标指针经过*/
}
.ltbox2{
    width: 100px;
    height: 150px;
    margin-top: 2px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    display: none;        /*使下拉菜单栏消失*/
}
 
.li1{
    margin-top: 5px;
}
.ltbox2 li{
    height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    display: block;        /*使下拉菜单栏显示*/
}
.ltbox2 li:hover{
    background-color:#E8E8E8;
}
 
.topclick:hover .ltbox2{
    display: block;
}
a{
    color: rgb(0, 0, 0);
    width: 100px;
    height: 40px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-family: Microsoft Yahei;
    font-weight: 2px;
}

footer { 
    background:#CCC;
    border-top:1px solid #000;
     padding:10px 0 30px 0; 
     width:100%;
} 

.color-F00 { 
    color:#F00
}

body {
    background-image: linear-gradient(to right, deeppink, orange);
}           